<div class="experiences">
    <div class="row pt-5">
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style="background: url('../../assets/images/webs/apprecio.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/apprecio.png" class="img-fluid" alt="apprecio">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/clubadelante.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/bbva.png" class="img-fluid" alt="bbva">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/clubenergiza.jpg');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/schneider.png" class="img-fluid" alt="schneider">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/dercomaspro.jpg');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/derco.png" class="img-fluid" alt="derco">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/xpalas.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/xpalas.png" class="img-fluid" alt="xpalas">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/perrut.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid">
                                <div class="col-4 px-2 text-center d-flex justify-content-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/perrut.png" class="img-fluid" alt="perrut">
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>