.experiences{
    min-height: 40em;
    h3{
        padding: 1em;
        text-align: center;
        font-size: 24px;
        display: block;
        span{
            display: block;
            font-size: 16px;
            font-weight: 300;
            margin-top: 0.5em;
        }
    }
}


.card{
    border-radius: 1em;
    overflow: hidden;
    border: unset !important;
    &:hover{
       
        .header-card{
            transform: scale(1.2);
            filter: saturate(.9) grayscale(0);
        }


    }
    .header-card{
        height: 10em;
        background-size: cover !important;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        transition: all 500ms;
        filter: saturate(.3) grayscale(.1);
    }
    
    .divider-card{
        margin-top: -60px;
        z-index:1;
        filter: drop-shadow(2px 0px 6px rgba(47, 47, 47, 0.36));
        path{
            fill: var(--text-primary)
        }
    }
    .body-card{
        min-height: 10.5em;
        z-index: 1;
        // border-top-left-radius: 2em;
        border-radius: 0 0 1em 1em;
        background-color: var(--text-primary);
        margin-top: -16px;
        border-top-left-radius: 20px;
        .img-empresa{
            border-radius: 50%;
            overflow: auto;
            aspect-ratio: 1/1;
            width: 3em;
            height: 3em;
            border: 2px solid #E8E8E8;
            box-shadow: 1px 1px 5px #eaeaea;
        }

        .title-business{
            font-weight: 400;
            font-size: 16px;
        }
        .description-business{
            font-size: 12px;
            font-weight: 300;
            padding-right: 10px;
        }

        .tecnologies{
            text-align: center;
            i:before{
                font-size: 1.6em;
                color: var(--header-color);
            }
            &:before{
                content: "";
                position: absolute;
                width: 5em;
                height: 2px;
                background-color: var(--header-color);
                margin-top: -17px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .experiences{
        h3{
            span{
                display: inline !important;
            }
        }
    }
}