<div class="experiences py-4">
    <h3 class="py-5">
        Innovación y Tecnología: Mis Experiencias Profesionales <br>
        <span>Un recorrido por proyectos destacados en los que he tenido el placer de trabajar.</span>
    </h3>

    <div class="row pt-5">

        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style="background: url('../../assets/images/webs/konami.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>
                <div class="body-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/me.png" class="img-fluid" alt="apprecio">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">
                                    <div class="title-business">
                                        ngx-konami-code
                                    </div>
                                    <div class="description-business">
                                        Directiva para utilizar konami code en angular 17
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-success">En linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> <a target="_blank" href="https://github.com/JesusMaster/ngx-konami-code">.git/ngx-konami-code</a>
                                    </div>
                                    <div class="url">
                                        <i class="devicon-npm-original-wordmark"></i> <a target="_blank" href="https://www.npmjs.com/package/ngx-konami-code">./package/ngx-konami-code</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
                <div class="card shadow-sm">
                    <div class="header-card" style="background: url('../../assets/images/webs/portafolio.webp');"></div>
                    <div class="divider-card">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                    </div>
                    <div class="body-card">
                        <div class="row">
                            <div class="col-12">
                                <div class="row-fluid d-flex mb-2">
                                    <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                        <div class="img-empresa">
                                            <img src="../../assets/images/webs/empresas/me.png" class="img-fluid" alt="apprecio">
                                        </div>
                                    </div>
                                    <div class="col-9 ps-1">
                                        <div class="title-business">
                                            Mi portal
                                        </div>
                                        <div class="description-business">
                                            Proyecto personal, <strong>hint:</strong> aquí puedes utilizar Konami Code.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 px-4 pb-3 links">
                                <div class="row">
                                    <div class="col-9 offset-3 ps-1">
                                        <div class="estado mb-3">
                                            <span class="badge text-bg-success">En linea</span>
                                        </div>
                                        <div class="repo">
                                            <i class="devicon-git-plain"></i> <a target="_blank" href="https://github.com/JesusMaster/portafolio">.git/portafolio</a>
                                        </div>
                                        <div class="url">
                                            <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://leiva.dev">https://leiva.dev</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style="background: url('../../assets/images/webs/apprecio.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/apprecio.png" class="img-fluid" alt="apprecio">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">
                                    <div class="title-business">
                                        Apprecio.com 
                                    </div>
                                    <div class="description-business">
                                        Plataforma de incentivos y beneficios más grande de latinoamérica.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-success">En linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://apprecio.com">https://apprecio.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/clubadelante.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/bbva.png" class="img-fluid" alt="bbva">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">

                                    <div class="title-business">
                                        Club Adelante BBVA
                                    </div>
                                    <div class="description-business">
                                       Portal de beneficios para clientes del banco BBVA Chile.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-secondary">Fuera de linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://clubadelante.cl">https://clubadelante.cl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/clubenergiza.jpg');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/schneider.png" class="img-fluid" alt="schneider">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">

                                    <div class="title-business">
                                        Club Energiza - Schneider
                                    </div>
                                    <div class="description-business">
                                       Programa de lealtad para vendedores y compradores de Schneider Electric.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-secondary">Fuera de linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://clubenergiza.cl">https://clubenergiza.cl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/dercomaspro.jpg');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/derco.png" class="img-fluid" alt="derco">
                                    </div>
                                </div>

                                <div class="col-9 ps-1">
                                    <div class="title-business">
                                        MásPro - Derco
                                    </div>
                                    <div class="description-business">
                                        Programa interno para la fuerza de venta de Derco Center.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-secondary">Fuera de linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://programamaspro.cl">https://programamaspro.cl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/xpalas.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/xpalas.png" class="img-fluid" alt="xpalas">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">

                                    <div class="title-business">
                                        Xpalas
                                    </div>
                                    <div class="description-business">
                                        Desarrollo módulo WordPress para competidores en campeonatos de pádel.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-success">En linea</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://xpalas.com">https://xpalas.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-10 offset-1 col-lg-3 offset-lg-0 mb-4">
            <div class="card shadow-sm">
                <div class="header-card" style=" background: url('../../assets/images/webs/perrut.webp');"></div>
                <div class="divider-card">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50"><path class="cls-1" d="M225,25H25C11.19,25,0,36.19,0,50h0s250,0,250,0V0c0,13.81-11.19,25-25,25Z"/></svg>
                </div>

                <div class="body-card">

                    <div class="row">
                        <div class="col-12">
                            <div class="row-fluid d-flex mb-2">
                                <div class="col-3 px-2 pe-0 text-center d-flex justify-content-center align-items-center">
                                    <div class="img-empresa">
                                        <img src="../../assets/images/webs/empresas/perrut.png" class="img-fluid" alt="perrut">
                                    </div>
                                </div>
                                <div class="col-9 ps-1">
                                    <div class="title-business">
                                        Perrut
                                    </div>
                                    <div class="description-business">
                                        Sistema de registro e inscripción canina según norma Chilena.
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 px-4 pb-3 links">
                            <div class="row">
                                <div class="col-9 offset-3 ps-1">
                                    <div class="estado mb-3">
                                        <span class="badge text-bg-warning">Pausado</span>
                                    </div>
                                    <div class="repo">
                                        <i class="devicon-git-plain"></i> Privado
                                    </div>
                                    <div class="url">
                                        <i class="devicon-chrome-plain"></i> <a target="_blank" href="https://perrut.cl">https://perrut.cl</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>