@if(skills){
<div class="separator-skills"></div>
<div class="skills">
<div class="row py-4">
    <div class="col-12 col-lg-6 mb-5">
        <div class="row timeline-dev">
            <div class="container">
              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center bottom">
                  <div class="circle">{{ skills.timeline.year_1.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_1.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_1.text }}</p>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_2.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_2.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle">{{ skills.timeline.year_2.year }}</div>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
              <!--third section-->
              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center full-left">
                  <div class="circle">{{ skills.timeline.year_3.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_3.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_3.text }}</p>
                </div>
              </div>
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_4.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_4.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle"><span>{{ skills.timeline.year_4.year }}</span></div>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>

              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center full-left">
                  <div class="circle">{{ skills.timeline.year_5.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_5.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_5.text }}</p>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_6.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_6.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle"><span>{{ skills.timeline.year_6.year }}</span></div>
                </div>
              </div>


              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>

              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center full-left">
                  <div class="circle">{{ skills.timeline.year_7.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_7.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_7.text }}</p>
                </div>
              </div>


              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_8.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_8.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle"><span>{{ skills.timeline.year_8.year }}</span></div>
                </div>
              </div>


              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>

              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center full-left">
                  <div class="circle">{{ skills.timeline.year_9.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_9.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_9.text }}</p>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_10.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_10.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle"><span>{{ skills.timeline.year_10.year }}</span></div>
                </div>
              </div>


              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>

              <div class="row align-items-center how-it-works">
                <div class="col-2 text-center full-left">
                  <div class="circle">{{ skills.timeline.year_11.year }}</div>
                </div>
                <div class="col-8 mb-1">
                  <h5>{{ skills.timeline.year_11.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_11.text }}</p>
                </div>
              </div>

              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>

              <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-8 text-right">
                  <h5>{{ skills.timeline.year_12.title }}</h5>
                  <p class="mb-1">{{ skills.timeline.year_12.text }}</p>
                </div>
                <div class="col-2 text-center full">
                  <div class="circle"><span>{{ skills.timeline.year_12.year }}</span></div>
                </div>
              </div>

            </div>
          </div>



    </div>
    <div class="col-10 offset-1 col-lg-4">

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_1 }}</div>
            <div class="col-2 devIcons"> <span><i class="devicon-c-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-cplusplus-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-csharp-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-php-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-javascript-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-typescript-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-ruby-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-python-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-dotnetcore-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-java-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-visualbasic-plain"></i></span></div>
          

        </div>

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_2 }}</div>
            <div class="col-2 devIcons"> <span><i class="devicon-angular-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-laravel-original"></i></span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-yii-plain-wordmark"></i> </span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-cakephp-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-django-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-rails-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-ionic-original"></i></span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-codeigniter-plain-wordmark"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-spring-original"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-hibernate-plain-wordmark"></i> </span> </div>
          
        </div>

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_3 }}</div>
            <div class="col-2 devIcons"> <span><i class="devicon-html5-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-css3-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-less-plain-wordmark"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-sass-original"></i></span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-jquery-plain-wordmark"></i> </span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-bootstrap-plain"></i></span> </div>

        </div>

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_4 }}</div>
            <div class="col-2 devIcons"> <span> <i class="devicon-mysql-original"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-postgresql-plain"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-microsoftsqlserver-plain"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-mongodb-plain-wordmark"></i> </span> </div>
            <div class="col-2 devIcons"> <span> <i class="devicon-redis-plain-wordmark"></i> </span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-firebase-plain-wordmark"></i></span> </div>

        </div>

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_5 }}</div>
            <div class="col-2 devIcons"> <span><i class="devicon-googlecloud-plain"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-amazonwebservices-plain-wordmark"></i></span> </div>
            <div class="col-2 devIcons"> <span><i class="devicon-cloudflare-plain"></i></span> </div>
        </div>

        <div class="row">
            <div class="col-12 titleIcon py-2 mb-3 text-center">{{ skills.titles.title_6 }}</div>
            <div class="col-2 devIcons"><span> <i class="devicon-jenkins-plain"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-bash-plain"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-bower-plain-wordmark"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-composer-line"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-docker-plain-wordmark"></i> </span></div>          
            <div class="col-2 devIcons"><span><i class="devicon-git-plain"></i></span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-graphql-plain"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-linux-plain"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-nginx-original"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-nodejs-plain-wordmark"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-npm-original-wordmark"></i> </span></div>
            <div class="col-2 devIcons"><span><i class="devicon-raspberrypi-plain"></i></span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-sentry-original"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-yarn-original"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-jira-plain"></i> </span></div>
            <div class="col-2 devIcons"><span> <i class="devicon-centos-plain"></i> </span></div> 
          
        </div>

    </div>
</div>
</div>
}