@if(info){
<section class="menubar py-2">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" aria-label="Read more about me">
          <span class="icon icon-logo"></span>
        </a>
        <div class="ms-auto me-2 d-block d-lg-none">
          <label class="switch">
            <input type="checkbox" id="checkbox1" [(ngModel)]="!isLightTheme" (change)="changeColor()"
            aria-label="switch">
            <span class="slider round"></span>
          </label>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-sharp fa-solid fa-bars d-block d-lg-none"></i>

        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-caret-right"></i>  {{ info.menu.links.link_1 }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills"><i class="fa-solid fa-caret-right"></i> {{ info.menu.links.link_2 }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-caret-right"></i> {{ info.menu.links.link_3 }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-caret-right"></i> {{ info.menu.links.link_4 }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-caret-right"></i> {{ info.menu.links.link_5 }}</a>
            </li>
          </ul>
          <div class="ms-auto me-2">
            <div class="language-stick" (click)="openLanguaje()">
              <div class="button-label d-flex justify-content-center">
                <div class="icon">
                  <i class="fa-solid fa-language"></i>
                </div>
                <div class="language-label d-flex">{{ info.menu.language.label }}</div>
              </div>
            </div>

            <div class="selector-language" [ngClass]="{'close':OpenLanguaje=='close','open':OpenLanguaje=='open'}">
              <ul>
                <li (click)="toggleLanguage('es')"><span class="flag espana me-2"></span> {{ info.menu.language.es }}</li>
                <li (click)="toggleLanguage('en')"><span class="flag usa me-2"></span> {{ info.menu.language.en }}</li>
                <li (click)="toggleLanguage('de')"><span class="flag germany me-2"></span> {{ info.menu.language.de }}</li>
                <li (click)="toggleLanguage('it')"><span class="flag italy me-2"></span> {{ info.menu.language.it }}</li>
              </ul>
            </div>
          </div>

          <div class="d-none d-lg-block">
            <label class="switch">
              <input type="checkbox" id="checkbox2" [(ngModel)]="!isLightTheme" (change)="changeColor()" aria-label="switch">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="header p-4">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-1 d-flex justify-content-center imgMe">
        <img fetchpriority="high" src="../assets/images/me.webp" alt="me" class="img-fluid me">
      </div>
      <div class="col-12 col-lg-7 d-flex align-items-center">
        <div class="row">
          <div class="col-12 saludo text-center text-lg-start">{{ info.front.greeting }}<span class="name"> {{
              info.front.name }}</span></div>
          <div class="col-12 slogan mb-5 text-center text-lg-start animate__animated "
            [ngClass]="{'animate__fadeInDown': movimiento == 'ingreso','animate__fadeOutDown': movimiento == 'salida'}">
            {{ slogan }}</div>
          <div class="col-12 col-lg-12 career text-center text-lg-start"> <span>{{ info.front.career.line_1 }}</span>
            <span> {{ info.front.career.line_2 }}</span> <br class="d-none d-lg-block"> <span>{{
              info.front.career.line_3 }}</span>
          </div>
          <div class="col-12 mt-4 mt-lg-2 mb-4 text-center text-lg-start">
            <i class="fa-brands fa-linkedin me-2 me-lg-0"></i>
            <i class="fa-brands fa-square-github me-2 me-lg-0"></i>
            <i class="fa-brands fa-square-instagram me-2 me-lg-0"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
}
@defer (on viewport; prefetch on idle) {
<div class="divider-shape" id="skills">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>


  @if(info && info.skills){
  <section class="aboutme">
    <div class="container">
        <app-skills [skills]="info.skills"></app-skills>
    </div>
  </section>
  }
}@placeholder{
  <span>.</span>
}